.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &-input {
        font-family: inherit;
        font-size: 2rem;
        color: var(--color-white);
        background-color: var(--color-primary-darker);
        border: none;
        padding: 2.7rem 2rem;
        width: 80%;
        transition: all .2s;
        margin-right: -5.25rem;

        &:focus {
            outline: none;
            width: 90%;
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
            font-size: 2rem;
        }
    }

    &-button {
        border: none;
        background-color: var(--color-primary-darker);
        transition: all .2s;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &-icon {
        height: 4rem;
        width: 4rem;
        fill: var(--color-grey-light-4);
    }
}

.weather {

    &-degree {
        font-size: 6.25rem;
        font-weight: 500;
        color: var(--color-white);
    }

    &-city {
        margin-top: 1rem;
        font-size: 4.25rem;
        font-weight: 500;
        color: var(--color-white); 
    }

    &-date {
        font-size: 2.25rem; 
        color: var(--color-grey-light-4);
    }
}

.loading {
    font-size: 2rem;
    color: var(--color-white);
}